@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=latin-ext');

body{
    font-family: 'Roboto', sans-serif!important;
    color: #252532;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif!important;
    color: #252532;
}
.rst-content .section ol p, .rst-content .section ul p {
    margin-bottom: 0;
}
.wy-side-nav-search {
background-color: #252532;
margin: 0px;
padding: 0 20px;
}

.wy-side-nav-search>a{
    content:url('../general/hw-logo-white.svg');
    max-width: 100%;
    margin: 0!important;
}
.wy-side-nav-search>a:hover{
    background-color: #252532;
}
.wy-nav-side {
background: #252532;
}
.wy-side-nav-search input[type=text]{
    border-color: #666;
}
.caption-text{
    color: white;
}

.wy-side-nav-search .version{
    color: #666;
    display: none;
}

div.leftside {
    width: 43%;
    padding: 0px 3px 0px 0px;
    float: left;
}

div.rightside {
    margin-left: 45%;
    /* float: right; */
}
